<%
meta title: "#{@title}",
     description: "",
     keywords: ""
%>
<section class="full-width-content inside-container top-bg-gradient light">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- listing-page">
    <h2 class="margin-bottom-20 text-capitalize gradient2" style="width: 100%;"><%=@title%></h2>
   <%if @layout_type == "t_2_3_movie" || @layout_type == "movies" 
      class_name = "row-movie-list" 
      title = "no"        
     else
      class_name = "row-show-list" 
      title = "yes"        
    end%>
    <div class="row <%=class_name%>">
     <%@all_items.each do |i|%>
        <div class="item">                                                              
          <a href="<%=get_item_url(i)%>">
          <%if i['access_control']['is_free'] == false%>
            <span class="text-uppercase premium-txt">Premium</span>
          <%end%>
          <img src="<%=get_image_url(i,@layout_type)%>" class="rounded" alt="<%=i['title']%>" title="<%=i['title']%>">
          <%if title == "yes"%>
            <span class="list-tile-title"><%=i['title']%></span>
          <%end%>
          </a>
        </div>
      <%end%>
    </div>
    </div>  
  </div>
</section>
