<%
meta title: "#{@title}",
     description: "",
     keywords: ""
%>
<%if @all_items.count > 0%>
<section class="full-width-content inside-container top-bg-gradient padding-top-80 padding-top-145 light min-height-div padding-bottom-20">
  <div class="row h-100">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- listing-page">
      <h2 class="margin-top-25 margin-bottom-20 text-capitalize w-100 gradient2"><%=@title%></h2>
    
    
   <%if @layout_type == "t_2_3_movie" || @layout_type == "movies" 
      class_name = "row-movie-list all_movie_vertical" 
      title = "no"        
     else
      class_name = "row-show-list all_show_horizontal_title" 
      title = "yes"        
    end%>
    <div class="row <%=class_name%>">
     <%@all_items.each do |i|%>
        <div class="item <%= title == "yes" ? "rounded" : ""%>">                                                              
          <a href="<%=get_item_url(i)%>">
          <%if i['access_control']['is_free'] == false%>
            <span class="text-uppercase premium-txt">Premium</span>
          <%end%>
          <%if @layout_type == "t_1_1_album" || @layout_type == "songs"%>
          <img src="<%=i["thumbnails"]["medium_16_9"]["url"]%>" class="rounded" alt="<%=i['title']%>" title="<%=i['title']%>">
          <%else%>
          <img src="<%=get_image_url(i,@layout_type)%>" class="rounded" alt="<%=i['title']%>" title="<%=i['title']%>">
          <%end%>
          <%if title == "yes"%>
            <span class="list-tile-title"><%=i['title']%></span>
          <%end%>
          </a>
        </div>
      <%end%>
    </div>    
    </div>  
  </div>
<%=render "layouts/page_height_setting"%>
</section>
<%else%>
  <div class="light no-items-found">
    <img src="/assets/no_content.svg" class="margin-bottom-10 welcome_page_image"  alt="" title="">
    <p class="font-medium margin-top-25 margin-bottom-0"><strong>Sorry!</strong></p>
    <p class="font-light margin-top-0 margin-bottom-5">There is no content to show</p>
    <p class="pull-left w-100 margin-top-20 margin-bottom-15 text-center">
      <a href="/" class="text-uppercase btn btn-outline-primary gradient1 radius-button">go back</a>
    </p>
  </div>
<script type="text/javascript">
  var window_height = window.outerHeight;
    var window_height = window_height - 153;
    $('.no-items-found').css('min-height',window_height+'px');
</script>  
 <%end%>
