<section class="full-width-content inside-container top-bg-gradient light">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- listing-page">
    <h2 class="margin-bottom-20 text-capitalize gradient2" style="width: 100%;">More in  <%=params[:genre].capitalize%></h2>
    <div class="row row-movie-list">
     <%@all_genere_items.each do |i|%>
        <div class="item">                                                              
          <a href="<%=get_item_url(i)%>">
          <%if i['access_control']['is_free'] == false%>
            <span class="text-uppercase premium-txt">Premium</span>
          <%end%>
          <img src="<%=i["thumbnails"]["medium_2_3"]["url"]%>" class="rounded" alt="<%=i['title']%>" title="<%=i['title']%>">
          </a>
        </div>
      <%end%>
    </div>
    </div>  
  </div>
</section>