                
        <section class="banner-section">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
               <div id="banner-carousel" class="owl-carousel owl-theme">
              <%@home_list[0]['catalog_list_items'].each do |h|%>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="<%=get_image_url(h,@home_list[0]["layout_type"])%>" alt="" title="<%=h['title']%>">
                  </a>
                </div>
              <%end%>           
              </div>
            </div>
          </div>
        </section>


     
               <section class="full-width-content light">
               <!-- Continue Watching starts
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="margin-bottom-15 text-capitalize gradient1">Continue Watching</h2>
              <a href="javascript:;" class="text-uppercase pull-right see-more">see more</a>
              <div id="continue-watching-carousel" class="owl-carousel owl-theme">
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title=""></a>
                    <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                  
                </div>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title="">
                  </a>
                  <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                </div>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title="">
                  </a>
                  <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                </div>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title="">
                  </a>
                  <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                </div>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title="">
                  </a>
                  <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                </div>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title="">
                  </a>
                  <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                </div>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title="">
                  </a>
                  <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                </div>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title="">
                  </a>
                  <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                </div>
                <div class="item">
                  <a href="javascript:;">
                    <img src="/assets/big_play.svg" alt="" title="">
                    <img src="/assets/carousel/placeholder2.jpg" alt="" title="">
                  </a>
                  <div class="item-feature">
                      <p>The Nil Institute</p>
                      <span class="pull-left">Drama | 22m</span>
                      <span class="pull-right"><img src="/assets/remove.svg" alt="" title=""></span>
                    </div>
                </div>   
              </div>
            </div>  
          </div>-->
       
          <%@items.each_with_index do |list,index|%>
          <%if index != 0%>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="margin-bottom-15 text-capitalize gradient5"><%=list['display_title']%></h2>
              <a href="javascript:;" class="text-uppercase pull-right see-more">see more</a>
              <div id="bollywood-classic-carousel_<%=index%>" class="owl-carousel vertical-image owl-theme">
              <%list['catalog_list_items'].each do |item|%>
                <div class="item">
                  <a href="javascript:;">
                    <img src="<%=get_image_url(item,@items[index]["layout_type"])%>" alt="" title="<%=item["title"]%>">
                  </a>
                </div> 
              <%end%>             
              </div>           
              </div>
            </div> 
            <%end%> 
          <%end%>
          </section>


<script>
$(document).ready(function() {
var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/big_left_arrow.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/big_right_arrow.svg" alt="" title=""></span>'
    ];
  $('#banner-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    navText: navigation,
    responsive:{
        0:{
            items:1,
            stagePadding: 30,
        },
        576:{
            items:1,
            stagePadding: 40,
        },
        768:{
            items:1,
            stagePadding: 50,
        },
        992:{
            items:1,
            stagePadding: 60,
        },
        1200:{
            items:1,
            stagePadding: 87,
        }
    }
  });
  $('#continue-watching-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    // stagePadding: 40,
    navText: navigation,
    responsive:{
      0:{
          items:2
      },
      768:{
          items:3
      },
      992:{
          items:4
      },
      1200:{
          items:5
      }
    }
  });
  var items_count = "<%=@items.count-1%>"

    for (i = 0; i <= items_count; i++) {
   var owl = $("#bollywood-classic-carousel_"+i);
  owl.owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 40,
    navText: navigation,
    responsive:{
      0:{
          items:2
      },
      576:{
          items:3
      },
      768:{
          items:4
      },
      992:{
          items:5
      },
      1200:{
          items:7
      }
    }
  });
}

  $('#bollywood-plus-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 40,
    navText: navigation,
    responsive:{
      0:{
          items:2
      },
      576:{
          items:3
      },
      768:{
          items:4
      },
      992:{
          items:5
      },
      1200:{
          items:7
      }
    }
  });
  $('#gujarati-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 40,
    navText: navigation,
    responsive:{
      0:{
          items:1
      },
      576:{
          items:2
      },
      768:{
          items:3
      },
      992:{
          items:4
      },
      1200:{
          items:5
      }
    }
  });
  $('#kids-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 40,
    navText: navigation,
    responsive:{
      0:{
          items:2
      },
      576:{
          items:3
      },
      768:{
          items:4
      },
      992:{
          items:5
      },
      1200:{
          items:7
      }
    }
  });
  $('#bhakti-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 40,
    navText: navigation,
    responsive:{
      0:{
          items:1
      },
      576:{
          items:2
      },
      768:{
          items:3
      },
      992:{
          items:4
      },
      1200:{
          items:5
      }
    }
  });
  $('#ibaadat-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 40,
    navText: navigation,
    responsive:{
      0:{
          items:1
      },
      576:{
          items:2
      },
      768:{
          items:3
      },
      992:{
          items:4
      },
      1200:{
          items:5
      }
    }
  });
  $('#punjabi-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 40,
    navText: navigation,
    responsive:{
        0:{
            items:2
        },
        576:{
            items:3
        },
        768:{
            items:4
        },
        992:{
            items:5
        },
        1200:{
            items:6
        }
    }
  });
});  
</script> 