<section class="full-width-content inside-container light padding-top-30  search-page">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
			<div class="search-box-wrap">
				<input type="search" id="search" name="" class="" placeholder="Search for shows, movies, songs...">
				<a href="javascript:void(0)"><img src="/assets/cancel_search.svg" alt="cancel search" title="cancel search" class="cancel_search" style="display:none"></a>
			</div> 
			<h2 class="margin-bottom-20 margin-top-20 text-capitalize pull-left w-100"  id="search_heading" style="display:none;">Search Result (<span class="search_count"></span>)</h2>
			</div>	
		</div>
			<div class="row" id="search_all_results"> 
			<!--<%@search_results.each do |s|%>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col- margin-bottom-10">
					<div class="row1">
					<div class="search-image-wrap">
						<img src="<%=s['thumbnails']['medium_16_9']['url']%>" class="img-fluid rounded tile-box-shadow" alt="<%=s['title']%>" title="<%=s['title']%>">
					</div>
					<div class="search-category-wrap">
						<p class="search-tile-title"><%=s['title']%></p>
						<p class="search-tile-category"><%=s['theme'].capitalize%> | <%=s['language'].capitalize%> | <%=s['genres'][0].capitalize%></p>
					</div>
					</div>
					</div>
				<%end%>-->

					<div class="spinner">
						<img src="/assets/loader.gif" class="img-fluid" alt="" title="">
					</div>
				
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap text-center" id="no_search_results" style="display:none;">
              <img src="/assets/no_result.svg" class="search-no-results-image" alt="" title="">
              <p class="margin-bottom-0 font-medium"><strong>Sorry, No Result was found for Ozx</strong></p>
              <p class="font-light">Please check the spelling or try another search term.</p>
            </div>
            </div>
			
		
	
		<div class="row" id="recent_search" style="display:none;">
 	     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-30">
				<h2 class="margin-bottom-0 margin-top-15 text-capitalize inline-block">Recent search</h2>
                 <a href="javascript:void(0);" class="pull-right margin-top-20 clear" id="clear_search">CLEAR</a>
				<ul class="list-group list-group-flush" id="user_recent_search">
				<li class="list-group-item border-top-0 padding-left-0">You have not searched anything recently!</li>
				</ul> 
			</div> 
		</div>
	
</section>





<script type="text/javascript">
 $(".search_icon").attr("src","/assets/search_active.svg")
 $(".search_icon").css("width","32px")
  var window_height = window.outerHeight;
  var window_height = window_height - 231;
  $('.full-width-content').css('min-height',window_height+'px');
  



$(document).ready(function(){
	var search_item = "<%=params[:search_item].present? ? "true" : "false"%>";
	if(search_item == "false"){
	if(getShemarooCookies().recent_search_data){
    var search_val = $.unique(getShemarooCookies().recent_search_data.split(","));
    $("#user_recent_search").html("");
    for(i=0; i < search_val.length;i++){
    	 $("#user_recent_search").append('<a href="/search/'+search_val[i]+'"><li class="list-group-item padding-left-0">'+search_val[i]+'</li> </a>')
    }
	}
	else{
	  $("#clear_search").hide();
	}

	}
  $("#clear_search").click(function(){
  	$.removeCookie('recent_search_data', { path: '/' });
  })
})
</script>