<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang=en>
<head>
<meta charset="UTF-8" />
<title>Shemaroo</title>
<meta name="ctest" content="ctest" /
><link href="/assets/images/favic.ico" rel="shortcut icon" />    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/bootstrap4.1.3.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl-carousel-default.css">
<link rel="stylesheet" type="text/css" href="assets/css/common.css">
<link rel="stylesheet" type="text/css" href="assets/css/gradient.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">

<!-- jQuery library -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/poper1.14.3.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>


</head>
<body>
  <div class="wrapper">
    <!-- <div class="row"> -->
      <div class="container">
        <div class="inside-wrapper">
                                <%all_pack = @all_plans.last["catalog_list_items"].last%>
        <section class="full-width-content light">
          <div class="row"><!-- Continue Watching starts -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- plans-page">              
              <h2>Modify Plans</h2>
              <p>you can <span class="text-uppercase">UPGRADE, MODIFY</span> or <span class="text-uppercase">CANCEL</span> your existing plan(s) here. You will still continue to have access to the plan till the expiry date.</p>
             <!--  <ul class="list-none">
                <li class="text-uppercase gradient5">Any 2</li>
                <li class="text-uppercase">Choice of any<br>2 categories</li>
                <li class="text-uppercase"></i><span>699</span><br>yearly</li>
                <li class="text-uppercase"></i><span>69</span><br>monthly</li>
              </ul> -->
              <ul class="list-none margin-right-0">
                <li class="text-uppercase gradient1">all</li>
                <li class="text-uppercase">includes all<br>the categories</li>
                <%all_pack["plans"].each do |aa|%>
                <li class="text-uppercase"></i><span><%=aa["currency_symbol"]%>&nbsp;<%=aa["discounted_price"]%></span><br><%=aa["title"]%></li>
                <%end%>
              </ul>

            </div>  
          </div>
        </section>
        <section class="full-width-content light plans_list_section padding-bottom-30">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- padding-top-25">
              <h2>Choose your plan</h2>
              <p class="sub-title">Planthat provide access to all categories</p>
              <div class="row1">
                <div class="plans_box all_categories block">
                  <div class="card">
                    <div class="card-body">
                      <ul class="list-none padding-left-0 margin-bottom-0">
                        <li>
                          <h5 class="gradient1">All Categories</h5>
                          <p class="margin-bottom-5">You can enjoy all the content across all categories.</p>
                        </li>
                        <%all_pack["plans"].each do |aa|%>
                        <li class="text-center">
                          <span class="text-uppercase block"><%=aa["title"]%></span>
                          <span class="block"></i><%=aa["currency_symbol"]%>&nbsp;<%=aa["discounted_price"]%></span>
                          <span class="block"><%=aa["price"]%></span>
                        </li>
                        <%end%>
                      </ul>
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- padding-left-0 padding-right-0 margin-bottom-0">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </p>
                    </div>
                  </div>    
                </div>
              </div>
              <p class="margin-bottom-10 margin-top-25">Individual Category Plans</p>
              <div class="row1">
              <%@all_plans[0..-3].each_with_index do  |plan,i|%>
                <div class="individual_category plans_box inline-block margin-bottom-10 <%=i.even? ? 'even-box' : 'odd-box'%>">                  
                  <div class="card">
                    <div class="card-body">
                      <ul class="list-none padding-left-0 margin-bottom-0">
                        <li>
                          <h5 class="<%=get_gradient(plan['title'])%>"><%=plan["title"]%></h5>
                          <p><%=plan['category']%></p>
                          <% plan["pack_details"].each do |d|%>
                           <p><%=d["info"]%>:&nbsp;<%=d["value"]%></p>
                           <%end%>
                        </li>
                        <%unless plan["plans"].blank?%>
                        <%plan["plans"].each do |p|%>
                        <li class="text-center">
                          <span class="text-uppercase block"><%=p["title"]%></span>
                          <span class="block"></i><%=p["currency_symbol"]%>&nbsp;<%=p["discounted_price"]%></span>
                          <span class="block"><%=p["price"]%></span>
                        </li>
                        <%end%>
                        <%end%>
                      </ul>
                      <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- padding-left-0 padding-right-0 margin-bottom-0">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </p>
                    </div>
                  </div>    
                </div>
              <%end%>
              </div>
            </div>
          </div>
        </section>
        <!-- <div class="padding-left-0 padding-right-0 text-center light">
          <a href="javascript:;" class="text-uppercase btn btn-outline-primary margin-bottom-15 margin-top-15 gradient1">confirm your modifications</a>  
        </div> -->
        

        <section class="footer-section">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col- pull-left">
              <ul>
                <li class="text-uppercase">terms & conditions</li>
                <li class="text-uppercase">priovacy policy</li>
                <li class="text-uppercase">faq</li>
                <li class="text-uppercase">contact us</li>
              </ul>
              <p class="d-none d-lg-block d-xl-block">Shemaroo &copy; 2018, All Rights Reserved</p>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col- pull-right">
              <ul class="pull-left">
                <li><a href="javascript:;"><img src="assets/images/google.svg" alt="" title=""></a></li>
                <li><a href="javascript:;"><img src="assets/images/facebook.svg" alt="" title=""></a></li>
                <li><a href="javascript:;"><img src="assets/images/twitter.svg" alt="" title=""></a></li>
              </ul>
              <ul class="pull-right">
                <li><a href="javascript:;"><img src="assets/images/app_store.svg" alt="" title=""></a></li>
                <li><a href="javascript:;"><img src="assets/images/google_play.svg" alt="" title=""></a></li>                
              </ul>              
            </div>
            <p class="d-block d-lg-none d-xl-none">Shemaroo &copy; 2018, All Rights Reserved</p>
          </div>
        </section>
      </div>      
    </div>
    <!-- </div> -->
  </div>
  
<style type="text/css">
  /*#continue-watching-carousel .owl-stage {
  left: -97px;*/
}
</style>
<script>
  var window_height = window.outerHeight;
  var window_height = window_height - 440;  
  //$('.plans_list_section').css('min-height',window_height+'px');  
</script>       
<!-- <script src="assets/js/script.js"></script> -->
</body>
</html>