<section class="onboarding-bg min-height-div padding-top-85 padding-top-145  padding-left-15 padding-right-15">
  <div class="onboarding-payment-contianer margin-bottom-30">
  	<div class="row">
  		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
  			<h2 class="pull-left w-100 margin-top-25">Plan Details</h2>  			
  		</div>
  	</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- current_plans plans_details_page">
				<div class="pull-left w-100 margin-bottom-25">
            <div class="card">
              <div class="card-body">
              	<div class="pull-left">
	                <h5 class="gradient1 pull-left margin-bottom-0" style="<%=get_title_item_color(@plan["plan_categories"].first)%>" id="heading_title_color"><%=@plan["subscription_title"]%><br>
	                </h5>
		                <% if Time.now > Time.parse(@plan["valid_till"])%>
		                <span class="text-uppercase expired_plan font-semibold">EXPIRED PLAN</span>
		                <%else%>
		                <span class="text-uppercase active_plan font-semibold">ACTIVE PLAN</span>
		                <%end%>
		              </div>
		              <div class="pull-right">
		              	<span class="pull-left text-uppercase text-right">
											<small><%=@plan["plan_title"]%></small> 
											<br><b><%=@plan["currency"]%>&nbsp;<%=@plan["price_charged"]%></b>
										</span> 
		              </div>								
								<div class="pull-left w-100">
									<p class="pull-left margin-top-10 margin-bottom-0 margin-right-25">
										<span class="text-uppercase"><small>transaction id</small></span><br>
										<span class="date"><%=@plan["transaction_id"]%></span>
									</p>
									<p class="pull-left margin-top-10 margin-bottom-0 margin-right-25">
										<span class="text-uppercase"><small>plan duration</small></span><br>
										<span class="date"><%=Time.parse(@plan["start_date"]).strftime("%d %b %Y") if @plan["start_date"].present?%> - <%=Time.parse(@plan["valid_till"]).strftime("%d %b %Y") if @plan["valid_till"].present?%></span>
									</p>       
								</div>	
								<div class="pull-left w-100">
								<div class="pull-left margin-top-10 margin-bottom-0">
									<p class="margin-bottom-0"><span class="text-uppercase"><small>payment method</small></span><br></p>
									<p class="margin-bottom-0 current_plan_payment_method">
										<!-- <img src="/assets/master-card.png" alt="" title=""> -->
										<!-- <span class="label_pwd">.... .... ....</span><span>9012</span> -->
										<span><%=@plan["payment_gateway"]%></span>
									</p>	
								
              </div>
             <!--  <div class="pull-right margin-top-10">
              	<small><a href="javascript:;" class="text-uppercase font-medium">edit</a></small>
              </div> -->
            </div>
          </div>
			</div>
		</div>
	</div>
	<%=render "layouts/page_height_setting"%>
</section>