        <section class="onboarding-bg padding-top-85 padding-top-145">
          <div class="onboarding-payment-contianer margin-bottom-30">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20">
                <h2 class="block margin-bottom-10"><a href="/plans"><img src="/assets/back_arrow.svg" class="back_arrow" alt="" title=""></a> Summary</h2>
                <div class="w-100 pull-left tile-box-shadow plans_summary_section padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded">
                  <div class="pull-left payment-header w-100 rounded">
                    <ul class="pull-left w-100 padding-top-15 padding-bottom-5 padding-left-30 padding-right-30 margin-bottom-0 list-none light">
                      <li class="text-uppercase gradient1">all categories</li>
                      <%@all_access_packs["plans"].each do |aa|%>
                      <li>
                        <input type="radio" id="<%=aa["title"]%>" name="radio-group" data-amount="<%=aa["discounted_price"]%>" data-pack="<%=aa["title"]%>" category="<%=@all_access_packs%>" plan='<%=aa["id"]+"|"+ @all_access_packs["title"]+"|"+ aa["title"]+ "|"+aa["discounted_price"]+"|"+aa["currency_symbol"]+"|"+@all_access_packs["content_id"]%>'>
                        <label for="<%=aa["title"]%>" class="font-bold"><span><%=aa["discounted_price"]%></span><span class="text-uppercase"><%=aa["title"].upcase%></span></label>
                      </li>
                      <%end%>
                     <!--  <li>
                      <input type="radio" id="monthly" name="radio-group" data-amount="99" data-pack="monthly">
                      <label for="monthly" class="font-bold"><span>99</span><span class="text-uppercase">Monthly</span></label>
                      </li> -->
                    </ul>                    
                  </div>
                  <p class="pull-left w-100 margin-bottom-0"><a href="javascript:;" class="font-light" id="revert_plan">Revert to original plan section</a></p>
                  <div class="pull-left w-100 payment-body margin-top-25">
                    <ul class="pull-left w-100 padding-left-0 list-none margin-bottom-15">
                      <li class="pull-left pack_details">
                        <!-- <span class="font-bold">Combo Pack</span><br> -->
                        <span class="font-light" id="plan-category"></span>
                      </li>
                      <li class="pull-right font-semibold">
                         <span class="pull-right" id="total_amount"></span>
                     <span class="pull-right" id="currency"></span>
                      </li>
                    </ul>
                    <ul class="pull-left w-100 padding-left-0 list-none padding-bottom-25 margin-bottom-15 border-bottom">
                      <li class="pull-left font-light margin-bottom-15">
                        Tax
                      </li>
                      <li class="pull-right margin-bottom-15">
                        -
                      </li>
                      <li class="pull-left w-100">
                        <a href="javascript:;" class="text-uppercase">Have a Promocode ?</a>
                      </li>
                    </ul>
                  </div>
                  <div class="pull-left w-100 payment-footer">
                    <ul class="pull-left w-100 padding-left-0 list-none">
                      <li class="font-semibold pull-left">Grand Amount</li>
                      <li class="pull-right font-semibold" id="all_amount"></li>
                                           <span class="pull-right" id="all_currency"></span>

                    </ul>
                  </div>

                  <p class="pull-left w-100 margin-top-15">
          <a href="javascript:;" class="text-uppercase"  onclick="summary_plans()">Proceed</a>
        </p>


                </div>
              </div>
            </div>
          </div>
        </section>
        
      </div>      
    </div>
    <!-- </div> -->
  </div>
  
<script>


  $(".plans_list_section ul li:nth-child(2), .plans_list_section ul li:last-child").click(function() {
    $(".plans_list_section ul li").removeClass("active");
    $(this).addClass("active");
    var gradient = $(this).siblings("li").find("h5").attr("class");
    if(gradient == "gradient1") {
      //$(this).css("background", "linear-gradient(to right,#D51E54, #F15A23)")
      $(this).addClass("gradientbg1");
    }
    else if(gradient == "gradient2") {
      $(this).addClass("gradientbg2");
    }
    else if(gradient == "gradient3") {
      $(this).addClass("gradientbg3");
    }
    else if(gradient == "gradient4") {
      $(this).addClass("gradientbg4");
    }
    else if(gradient == "gradient5") {
     $(this).addClass("gradientbg5");
    }
    else if(gradient == "gradient6") {
      $(this).addClass("gradientbg6");
    }
    else if(gradient == "gradient7") {
      $(this).addClass("gradientbg7");
    }
    else if(gradient == "gradient8") {
      $(this).addClass("gradientbg8");
    }
    else {
      $(this).addClass("gradient");
    }

    $(".plans_footer").show();

    var selected_price = $(this).find(".price").text();
    $(".plans_footer span.amount").text(selected_price);
    $(".plans_footer span.amount").attr("data-prive-val",selected_price);
  });

  $(".fa-chevron-down").click(function() {
    //$(this).parent("p").parent(".card-body").children(".plan_list_show").toggle();
    $(this).parent("p").parent(".card-body").find(".plan_list_show").toggle();
  })


$('input[type=radio][name=radio-group]').change(function() {
    // var data_pack = $(this).attr("data-pack");
    // var data_amount = $(this).attr("data-amount");
    // var category = $(this).attr("category");
    // if(data_pack !="" && data_pack!= undefined && data_pack != null && data_pack == "Yearly") {
    //   $(".pack_details span:first-child").hide();
    //   // $(".pack_details span:last-child").text("All Category (Yearly)");
    //   $("#plan-category").text("All Category (Yearly)");
    //   $(".payment-body ul:first-child li.pull-right").html('<br>'+data_amount);
    // }
    // else if(data_pack !="" && data_pack!= undefined && data_pack != null && data_pack == "Monthly") {
    //   $(".pack_details span:first-child").hide();
    //   $(".pack_details span:last-child").text("All Category (Monthly)");
    //   $("#plan-category").text("All Category (Yearly)");
    //   $(".payment-body ul:first-child li.pull-right").html('<br>'+data_amount);
    // }
    // else {
    //   $(".pack_details span:first-child").show();
    //   $(".pack_details span:last-child").text("Bollywood Classic + Bollywood Plus (Yearly)");
    //   $(".payment-body ul:first-child li.pull-right").text(data_amount); 
    // }

     var plan = $(this).attr("plan")
      // amount = amount+parseFloat(plan.split("|")[3])
      // currency = plan.split("|")[4]
      // category = plan.split("|")[1]
     console.log($(this).attr("plan"));
     alert(plan);
});
</script>       

<script>
  $(document).ready(function() {      
   $("#currency").text(localStorage.getItem("currency"));
   $("#all_currency").text(localStorage.getItem("currency"));
   $("#total_amount").text(localStorage.getItem("amount"));
   $("#all_amount").text(localStorage.getItem("amount"));
   $("#plan-category").text(localStorage.getItem("plan-category"));

$("#plans").val(localStorage.getItem("plan"));
  });  
</script> 



<script type="text/javascript">
     function summary_plans(){
     localStorage.removeItem("tl_amount");
    var plans = localStorage.getItem("plan")
    var currency = localStorage.getItem("currency")
    var amount = localStorage.getItem("amount")
      // if(myCookies.session_id){                 
              var data = 'plans='+plans
              // var data = 'plans='+plan_id+'&payment_plan_id='+payment_plan_id+"&price="+price
              $.ajax({
                url: "/plans/payment_url",
                type: 'POST',
                data: data,
                success: function(data){
                  if(data.message == "adyen payment iniated"){
                    localStorage.setItem("tl_amount",data.init_data["paymentAmount"]);
                    localStorage.setItem("currency",data.init_data["currencyCode"]);
                    localStorage.setItem("order_id",data.init_data["merchantReference"]);
                    window.location = "/plans/plans_purchase";
                  }
                  else{                 
                    window.location.href = data.payment_url;
                    // window.location.replace(data.payment_url);
                  }                    
                }
              });            
              // }
            }
</script> 
