<section class="onboarding-bg min-height-div padding-top-85 padding-top-145  padding-left-15 padding-right-15">
  <div class="onboarding-payment-contianer margin-bottom-30">
  	<div class="row">
  		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
  			<h2 class="pull-left margin-top-25">Current Plans</h2>
  			<a href="javascript:;" class="text-uppercase font-medium pull-right margin-top-25 padding-top-5">Modify</a>
  		</div>
  	</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- current_plans">
			<%@current_plans.each do |plan|%>
			<%= link_to plan_path(plan["id"]) do %>

				<div class="pull-left w-100 margin-bottom-25">
            <div class="card">
              <div class="card-body">
               <h5 class="gradient1 pull-left"><%=plan["subscription_title"]%></h5>
								<span class="pull-right text-uppercase">
									<small><%=plan["plan_title"]%></small> 
									<br><b><%=plan["price_charged"]%></b>
								</span>          
								<p class="pull-left w-100 text-uppercase margin-top-20 margin-bottom-0">
									<span><small>next billing</small></span><br>
									<span class="date"><%=Time.parse(plan["billing_date"]).strftime("%d %b %Y") if plan["billing_date"].present?%></span>
								</p>      
              </div>
            </div>
          </div>
          <%end%>
          <%end%>
			</div>
		</div>

		<div class="row">
  		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- prev_plans">
  			<h2 class="block">Previous Plans</h2>
			<%@expired_plans.each do |plan|%>
  		<div class="pull-left w-100 margin-bottom-25">
          <div class="card">
            <div class="card-body">
              <h5 class="gradient1 pull-left"><%=plan["subscription_title"]%></h5>
							<span class="pull-right text-uppercase">
								<small><%=plan["plan_title"]%></small> 
								<br><b><%=plan["price_charged"]%></b>
							</span>          
							<p class="pull-left w-100 text-uppercase margin-top-20 margin-bottom-0">
								<span><small>exprired on</small></span><br>
								<span class="date"><%=Time.parse(plan["valid_till"]).strftime("%d %b %Y") if plan["valid_till"].present?%></span>
							</p>      
            </div>
          </div>
        </div>
<%end%>
  		</div>
  	</div>

  </div>
  <%=render "layouts/page_height_setting"%>
</section>