<link rel="stylesheet" type="text/css" href="http://sachinchoolur.github.io/lightslider/dist/css/lightslider.min.css">
<script type="text/javascript" src="http://sachinchoolur.github.io/lightslider/src/js/lightslider.js"></script>
<section class="header-section" id="with_header_tabs">
<div class="header-border col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-none d-xl-block">
</div>
<div class="row d-none d-xl-block">
  <div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
    <div class="main-logo pull-left"> 
     <a href = "/">        
      <img src="/assets/shemaroo_logo.svg" alt="shemaroo" title="shemaroo">
      </a>
    </div>
    <div class="main-menu pull-left d-none d-xl-block">
      <ul class="nav">
       <%@header_tabs.each_with_index do |i,j|%>
       <%if @layout_scheme.present?%>
       <li class="nav-item"><a href="/<%= (i["home_link"] == "homepage-list") ? "" : "#{i['home_link']}"%>" class="nav-link gradient2 text-uppercase <%= (@layout_scheme == i["layout_scheme"]) ? "active" : ""%>" id="<%=get_item_color(i["layout_scheme"])%>"><%=i["display_title"]%></a></li>
       <%else%>
        <li class="nav-item"><a href="/<%= (i["home_link"] == "homepage-list") ? "" : "#{i['home_link']}"%>" class="nav-link text-uppercase gradient2 <%= (request.path == "/" && j == 0) ? "active" : ""%>" id="<%=get_item_color(i["layout_scheme"])%>"><%=i["display_title"]%></a></li>
       <%end%>
       <%end%>
      </ul>
    </div>
    <div class="head-right pull-right">
      <ul>
        <li>
          <a href="/search"><img src="/assets/search.svg" alt="search" title="search" class="search_icon"></a>
        </li>
        <li class="d-none d-xl-block coming_soon">
          <img src="/assets/tv_wo_highlight.svg" alt="tv icon" title="tv icon">
          <span class="text-center block">TV</span>
        </li>
        <li class="user_menu user_mobile_signout with_out_login_item" data-toggle="slide-collapse" data-target="right-sidebar-menu">
          <img src="/assets/me_wo_highlight.svg" alt="me icon" title="me icon">
          <span class="text-center block">ME</span>
        </li>
        <li class="user_menu with_login_item" data-toggle="slide-collapse" data-target="right-sidebar-menu" style="display: none;">
          <img src="/assets/me_w_highlight.svg" alt="me icon" title="me icon">
          <span class="text-center block">ME</span>
        </li>
      </ul>

    </div>

  </div>  
</div>
<div class="" id="right-sidebar-menu" style="width: 250px;">
  <div class="pull-right close-hambergmenu">
      <img src="/assets/cancel_search.svg" alt="" title="">
    </div>
  
      <div class="profile-list">
      <div id="header_user_profiles">
              <div class="profile_menu1 owl-carousel owl-theme">
                <!-- <div class="item">
                  <p>Kannan</p>
                </div>
                <div class="item">
                  <p>Kannan</p>
                </div>
                <div class="item">
                  <p>Kannan</p>
                </div>
                <div class="item">
                  <p>Kannan</p>
                </div>
                <div class="item">
                  <p>Kannan</p>
                </div>
                <div class="item">
                  <p>Kannan</p>
                </div>                 -->
              </div>
           
  </div>
</div>
    <p class="text-center text-uppercase manage-profile with_login_item margin-top-10" style="display:none;">
      <a href="/users/manage_profiles">Manage Profile</a>
    </p>
    <ul class="navbar-nav mr-auto">
     <li class="nav-item with_out_login_item">
        <a class="nav-link" href="/users/login"><img src="/assets/account_detail.svg" alt="Login" title="Login">Login</a>
      </li>
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="/users/account_details"><img src="/assets/account_detail.svg" alt="account Details" title="Account Details">Account Details</a>
      </li>
      <li class="nav-item with_login_item coming_soon" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/watch_list.svg" alt="watch list" title="watch list">Watch List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link coming_soon" href="javascript:void(0)"><img src="/assets/view_plans.svg" alt="plans" title="plans">View Plans</a>
      </li>
      <li class="nav-item with_login_item coming_soon" style="display:none;">
        <a class="nav-link coming_soon" href="#"><img src="/assets/manage_payments.svg" alt="manage payments" title="manage payments">Manage Payments</a>
      </li>
      <li class="nav-item with_login_item coming_soon" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/settings.svg" alt="settings" title="settings">Settings</a>
      </li>
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="javascript:void(0)" id="user_signout"><img src="/assets/log_out.svg" alt="logout" title="logout">Logout</a>
      </li>
        <!-- <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/reminders.svg" alt="" title="">Reminders</a>
      </li> 
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Notifications</a>
      </li> -->         
    </ul>
</div>
<div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-block d-xl-none">
  <nav class="navbar navbar-expand-md1 navbar-light fixed-top bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="main-logo pull-left">         
      <a href="/"><img src="/assets/shemaroo_logo.svg" alt="shemaroo logo" title="shemaroo logo"></a>
    </div>
    <div class="head-right pull-right">
      <ul>
        <li>
          <a href="/search">
            <img src="/assets/search.svg" alt="search" title="search" class="search_icon">
          </a>
        </li>
      </ul>
    </div>
    
    <div class="scrollmenuwrap">
      <div class="scrollmenu">
       <%@header_tabs.each_with_index do |i,j|%>
        <%if @layout_scheme.present?%>
       <a href="/<%= (i["home_link"] == "homepage-list") ? "" : "#{i['home_link']}"%>" class="nav-link gradient2 text-uppercase <%= (@layout_scheme == i["layout_scheme"]) ? "active" : ""%>" id="<%=get_item_color(i["layout_scheme"])%>"><%=i["display_title"]%></a>
        <%else%>
        <a href="/<%= (i["home_link"] == "homepage-list") ? "" : "#{i['home_link']}"%>" class=" <%= (j == 0) ? "active" : ""%>"><%=i["display_title"]%></a>
        <%end%>
       <%end%>
      </div>
    </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="pull-right close-hambergmenu">
      <img src="/assets/cancel_search.svg" alt="cancel search" title="cancel search">
    </div>
    <div class="profile-list">
      <div id="mobile_user_profiles">
        <div id="profile_menu2" class="owl-carousel owl-theme">
        </div>
      </div>                
    </div>
    <p class="text-center text-uppercase manage-profile mobile_with_login" style="display:none;"><a href="javascript:;" class="coming_soon">Manage</a></p>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><img src="/assets/home.svg" alt="home" title="home">Home</a>
      </li>
      <li class="nav-item mobile_with_out_login_item">
        <a class="nav-link" href="/users/login"><img src="/assets/account_detail.svg" alt="Login" title="Login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link coming_soon" href="#"><img src="/assets/tv.svg" alt="tv" title="tv">TV</a>
      </li>
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link coming_soon" href="#"><img src="/assets/account_detail.svg" alt="account details" title="account details">Account Details</a>
      </li>
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link coming_soon" href="#"><img src="/assets/watch_list.svg" alt="" title="">Watch List</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link coming_soon" href="javascript:void(0)"><img src="/assets/view_plans.svg" alt="view palns" title="view palns">View Plans</a>
      </li>
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link coming_soon" href="#"><img src="/assets/manage_payments.svg" alt="manage payments" title="manage payments">Manage Payments</a>
      </li>
      
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link coming_soon" href="#"><img src="/assets/settings.svg" alt="settings" title="settings">Settings</a>
      </li>
      
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link" href="javascript:void(0)" id="user_mobile_signout"><img src="/assets/log_out.svg" alt="logout" title="logout">Logout</a>
      </li>   
      <!--<li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/reminders.svg" alt="" title="">Reminders</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Refer a Friend</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Notifications</a>
      </li>
      -->             
    </ul>
   
  </div>
</nav>
</div>
</section>

<section class="header-section small-header-content" style="display:none;" id="without_header_tabs">
    <div class="header-border col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-none d-xl-block">
    </div>
    <div class="row">
      <div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
        <div class="main-logo text-center">         
          <a href="/"><img src="/assets/main-logo.svg" alt="Shemaroo" title="Shemaroo"></a>
        </div>
      </div>
    </div>
</section>

<div class="modal" id="coming_soon" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" aria-label="Close" id="close_coming_soon">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="coming_soon_content">
          <h2 class="margin-top-0">Coming Soon...</h2>
        </div>      
        </div>      
    </div>
  </div>
</div>

<script type="text/javascript">

  /* Apply respective graident color to active main menu */

  if($('ul.nav').find('li a.active').attr('id') != undefined){
  var header_title_color = $('ul.nav').find('li a.active').attr('id').split("|");
  $("body").append("<style>ul.nav li a.active{background: linear-gradient(to right,"+header_title_color[0]+", "+header_title_color[1]+")!important;}</style>");
  }
  
  $(document).ready(function(){
    $('.coming_soon').click(function() {
      $('#coming_soon').modal('show');
    })
    $('#close_coming_soon').click(function() {
      $('#coming_soon').modal('hide');
    })

    var window_height = window.innerHeight - 55;
    $("#right-sidebar-menu .navbar-nav li:last-child").css('top', window_height); /* Place Logout link in bottom of screen */

    $(".gradient2.active").focus();  /* Focus respective main-menu after page load */


    /*$('#bollywood-classic-carousel3').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    responsive:{
      0:{
          items:2
      },
      576:{
          items:3
      },
      768:{
          items:4
      },
      992:{
          items:5
      },
      1200:{
          items:2
      }
    }
  });*/

 });



</script>