<section class="header-section" id="with_header_tabs">
<div class="header-border col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-none d-xl-block">
</div>
<div class="row d-none d-xl-block">
  <div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
    <div class="main-logo pull-left"> 
     <a href = "/">        
      <img src="/assets/main-logo.svg" alt="shemaroo" title="shemaroo">
      </a>
    </div>
    <div class="main-menu pull-left d-none d-xl-block">
      <ul class="nav">
       <%@header_tabs.each_with_index do |i,j|%>
       <%if params[:catalog_name].present? && params[:catalog_name] != "all"%>
       <li class="nav-item"><a href="/<%= (i["home_link"] == "homepage-list") ? "" : "#{i['home_link']}"%>" class="nav-link gradient2 text-uppercase <%= (params[:catalog_name] == i["home_link"]) ? "active" : ""%>" id="<%=get_item_color(i["layout_scheme"])%>"><%=i["display_title"]%></a></li>
       <%else%>
        <li class="nav-item"><a href="/<%= (i["home_link"] == "homepage-list") ? "" : "#{i['home_link']}"%>" class="nav-link text-uppercase gradient2 <%= (request.path == "/" && j == 0) ? "active" : ""%>" id="<%=get_item_color(i["layout_scheme"])%>"><%=i["display_title"]%></a></li>
       <%end%>
       <%end%>
      </ul>
    </div>
    <div class="head-right pull-right">
      <ul>
        <li>
          <a href="/search"><img src="/assets/search.svg" alt="search" title="search" class="search_icon"></a>
        </li>
        <li class="d-none d-xl-block">
          <img src="/assets/tv_wo_highlight.svg" alt="tv icon" title="tv icon">
          <span class="text-center block">TV</span>
        </li>
        <li class="d-none d-xl-block user_menu"  data-toggle="slide-collapse" data-target="right-sidebar-menu">
          <img src="/assets/me_wo_highlight.svg" alt="me icon" title="me icon">
          <span class="text-center block">ME</span>
        </li>
      </ul>

    </div>

  </div>  
</div>
<div class="" id="right-sidebar-menu">
  <div class="pull-right close-hambergmenu">
      <img src="/assets/cancel_search.svg" alt="" title="">
    </div>
    <div class="profile-list">
    <ul id="header_user_profiles">
    </ul>
     <!--  <ul>
        <li>
          <p>K</p>
          <span class="text-uppercase">Kids</span>
        </li>
        <li class="active">
          <img src="/assets/profile.svg" alt="" title="">
          <p>ZD</p>
          <span class="text-uppercase">zubin dubash</span>
        </li>
        <li>
          <p>V</p>
          <span class="text-uppercase">Vaibhav</span>
        </li>
      </ul>   -->              
    </div>
    <p class="text-center text-uppercase manage-profile with_login_item" style="display:none;"><a href="javascript:;">Manage Profile</a></p>
    <ul class="navbar-nav mr-auto">
     <li class="nav-item with_out_login_item">
        <a class="nav-link" href="/users/login"><img src="/assets/account_detail.svg" alt="Login" title="Login">Login</a>
      </li>
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/account_detail.svg" alt="account Details" title="Account Details">Account Details</a>
      </li>
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/watch_list.svg" alt="watch list" title="watch list">Watch List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plans"><img src="/assets/view_plans.svg" alt="plans" title="plans">View Plans</a>
      </li>
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/manage_payments.svg" alt="manage payments" title="manage payments">Manage Payments</a>
      </li>
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/settings.svg" alt="settings" title="settings">Settings</a>
      </li>
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="javascript:void(0)" id="user_signout"><img src="/assets/log_out.svg" alt="logout" title="logout">Logout</a>
      </li>
        <!-- <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/reminders.svg" alt="" title="">Reminders</a>
      </li> 
      <li class="nav-item with_login_item" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Notifications</a>
      </li> -->         
    </ul>
</div>
<div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-block d-xl-none">
  <nav class="navbar navbar-expand-md1 navbar-light fixed-top bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="main-logo pull-left">         
      <a href="/"><img src="/assets/main-logo.svg" alt="shemaroo logo" title="shemaroo logo"></a>
    </div>
    <div class="head-right pull-right">
      <ul>
        <li>
          <a href="/search">
            <img src="/assets/search.svg" alt="search" title="search" class="search_icon">
          </a>
        </li>
      </ul>
    </div>
    
    <div class="scrollmenuwrap">
      <div class="scrollmenu">
       <%@header_tabs.each_with_index do |i,j|%>
        <%if params[:catalog_name].present? && params[:catalog_name] != "all"%>
        <a href="/<%= (i["home_link"] == "homepage-list") ? "" : "#{i['home_link']}"%>" class=
        "<%=(params[:catalog_name] == i["home_link"]) ? "active" : ""%>"><%=i['display_title']%></a>
        <%else%>
        <a href="/<%= (i["home_link"] == "homepage-list") ? "" : "#{i['home_link']}"%>" class=" <%= (j == 0) ? "active" : ""%>"><%=i["display_title"]%></a>
        <%end%>
       <%end%>
      </div>
    </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="pull-right close-hambergmenu">
      <img src="/assets/cancel_search.svg" alt="cancel search" title="cancel search">
    </div>
    <div class="profile-list">
      <ul id="mobile_user_profiles">
        <!-- <li>
          <p>K</p>
          <span class="text-uppercase">Kids</span>
        </li>
        <li class="active">
          <img src="/assets/profile.svg" alt="" title="">
          <p>ZD</p>
          <span class="text-uppercase">zubin dubash</span>
        </li>
        <li>
          <p>V</p>
          <span class="text-uppercase">Vaibhav</span>
        </li> -->
      </ul>                
    </div>
    <p class="text-center text-uppercase manage-profile mobile_with_login"><a href="javascript:;">Manage</a></p>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><img src="/assets/home.svg" alt="home" title="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/tv.svg" alt="tv" title="tv">TV</a>
      </li>
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/account_detail.svg" alt="account details" title="account details">Account Details</a>
      </li>
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/watch_list.svg" alt="" title="">Watch List</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/view_plans.svg" alt="view palns" title="view palns">View Plans</a>
      </li>
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/manage_payments.svg" alt="manage payments" title="manage payments">Manage Payments</a>
      </li>
      
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/settings.svg" alt="settings" title="settings">Settings</a>
      </li>
      
      <li class="nav-item mobile_with_login" style="display:none;">
        <a class="nav-link" href="#"><img src="/assets/log_out.svg" alt="logout" title="logout">Logout</a>
      </li>   
      <!--<li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/reminders.svg" alt="" title="">Reminders</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Refer a Friend</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Notifications</a>
      </li>
      -->             
    </ul>
   
  </div>
</nav>
</div>
</section>

<section class="header-section small-header-content" style="display:none;" id="without_header_tabs">
    <div class="header-border col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-none d-xl-block">
    </div>
    <div class="row">
      <div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
        <div class="main-logo text-center">         
          <a href="/"><img src="/assets/main-logo.svg" alt="Shemaroo" title="Shemaroo"></a>
        </div>
      </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function(){
  if($('ul.nav').find('li a.active').attr('id') != undefined){
  var header_title_color = $('ul.nav').find('li a.active').attr('id').split("|");
  $("body").append("<style>ul.nav li a.active{background: linear-gradient(to right,"+header_title_color[0]+", "+header_title_color[1]+")!important;}</style>");

  }
})

</script>