<!DOCTYPE html>
<html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= metamagic %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="inside-wrapper">
        <%=render "layouts/header"%>
          <%= yield %>
          <%=render "layouts/footer"%>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
</html>
